{
    "root": true,
    "env": {
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended,",
        "plugin:@typescript-eslint/recommended",
        "eslint-config-egg/typescript",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "no-var": "error",
        "no-unused-vars": "warn",
        "prefer-const": "error",
        "no-invalid-regexp": "off",
        "no-div-regex": "off",
        "no-control-regex": "off",
        "prettier/prettier": "error"
    }
}
