logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
.eslintcache
*.log
.env

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map

docker/es/*
!docker/es/docker-compose.yml
docker/minio/*
!docker/minio/docker-compose.yml
docker/pgvector/*
!docker/pgvector/docker-compose.yml
docker/redis/*
!docker/redis/docker-compose.yml

cache